<section>
    <h2 class="page-title" data-bind="text: title"></h2>
    <p>Store Name: <input data-bind="value: storeName" /> </p>
    <p>Date: <input data-bind="value: receiptDate" /></p> 
    <p>Brand: <input data-bind="value: productBrand"/> Item: <input data-bind="value: productName" /> </p>
    <p>Price: $<input data-bind="value:productPrice"/>  Quantity: <input data-bind="value: productQuantity" />  Unit: <input data-bind="value: productUnit" /> </p>
    <p><button data-bind="click: addItem">+ Add Item</button> <button data-bind="click: clearItem">Clear</button></p>
</section>