@{
    ViewBag.Title = "Index";
}

<h2>Ingredient</h2>

<p>Store Name: <input width="200" /></p>
<p>Date of Receipt: <input width="200" /></p>
<p>Time of Receipt: <input width="200" /></p>
<p>Brand: <input width="200" /></p>
<p>Item: <input width="200" /></p>
<p>Price: $<input width="200" /></p>
<p>Quantity: <input width="200" /></p>
<p>Unit: <input width="200" /></p>








